/* .navbar {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    background-color: rgb(121, 119, 119);
   
}

a:hover {
    background-color: white;
  }
.navbar a{
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}  

h3{
    float: left;
    justify-content: space-evenly;
    margin: 0px;

} */

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
   
  /* .topnav a.active {
    background-color: #04AA6D;
    color: white;
  } */